.sidebar {
  width: 304px;
  padding: 24px;
  height: 423px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* для Firefox */
scrollbar-color: black;

/* для IE и Edge */
-ms-overflow-style: none;

}
.sidebar {
  -ms-overflow-style: none;
}

/* Стилизация полосы прокрутки */
.sidebar::-webkit-scrollbar {
  width: 4px; /* Ширина полосы прокрутки */
}

/* Цвет фона трека */
.sidebar::-webkit-scrollbar-track {
  background: gray; /* Серый цвет */
}

/* Цвет полосы прокрутки */
.sidebar::-webkit-scrollbar-thumb {
  background: #212123; /* Темно-серый цвет */
  border-radius: 6px; /* Скругление углов полосы прокрутки */
}

.title {
  font-weight: 600;
  line-height: 20px;
}

.menu {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.link {
  color: var(--dark-sea);
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
}

.link:hover {
  color: var(--white);
}

.link.active {
  color: var(--violet);
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
